<!doctype html>
<html>
    <head>  
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <title>{{page_title}}</title>
    </head>
 <nav>
  <a href="/">Main Blog Page</a> 
  <a href="/newpost">Add a Blog Entry</a> 
  <div style='float: right;'> 
{% if 'username' in session %}
  You are logged in as {{ session['username'] }}
  <form action="logout" method="post" id="logout">
    <input type="submit" value="Log Out" />
  </form>
{% else %}
    <a href="login">Login</a>
    <a href ="signup">Signup</a>
{% endif %}
</div>
</nav>
<body>
  <h1>{{page_title}}</h1>

    {% block content %}
    {% endblock %}

</body>
</html>