<!doctype html>
<html>
    <head>  
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <title>{{page_title}}</title>
    </head>
    <nav>
        <a href="/"> Blogz Home </a>
        <a href="/blog">Main Blog Page</a> 
        <a href="/newpost">Add a Blog Entry</a> 
        <div style='float: right;'> 
        {% if 'username' in session %}
        You are logged in as {{ session['username'] }},
        <a href='/logout'> Logout </a>
        </form>
        {% else %}
            <a href="login">Login</a>
            <a href ="signup">Signup</a>
        {% endif %}
        </div>
    </nav>
    <body>
        <h1>{{page_title}}</h1>
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>