{% extends "base.html" %}

{% block content %}
  
    
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

            {% for blog in blogs %}
           <a href="/blog?id={{blog.id}}"> <h2>{{blog.title}}</h2> </a>
            <p class=author-tag> Written by <a href="/blog?user={{blog.owner.username}}"> {{blog.owner.username}} </a> </p>
            <br>
            <br>
            <p>{{blog.body}}</p>

            <hr>
            {% endfor %}
            
   
    {% endif %}



{% endblock %}