{% extends "base.html" %}

{% block content %}
<h1> Log in to Blogz </h1>
<p>If you don't have an account, you may <a href="/signup">signup</a> for one</p>
<form action="/login" method="post">

 <p> <label class='form-label' for="username"> Username </label>
        <input class='form-input' name="username" type="text" value="{{ username }}" /> </p>
<br>
<br>
  <p>    <label class='form-label' for="password"> Password </label>
        <input class='form-input' name="password" type="password" value="{{password}}" /> </p>
<br>
<br>
    <p>    <input type="submit" value="Submit" /> </p>
    
</form>

{% endblock %}