h2 { 
	background-color: #8F8380;
}

h1,h2, h3 {
	text-align: center;
}

.error { 
    font-style: italic;
    color :red;
 }

body {
    margin: 0px 150px 100px 80px;
    padding: 50px 50px 50px 50px;
}

p {
    margin: 0px 50px;
}

